/* forDoctors.css */

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the body */
body {
    font-family: Arial, sans-serif;
    background-image: url("https://img.freepik.com/free-photo/pastel-blue-vignette-concrete-textured-background_53876-102637.jpg?w=740&t=st=1710340964~exp=1710341564~hmac=003f94e5cf39802fc31c8a8f6a603c307f4458398eb4b817caf2f76dfeb3336d");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Styling the header */
.header {
    background-color:white;
    color:black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    color: #333; /* Logo color */
    text-decoration: none;
    font-size: 24px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color:black;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ffc107;
}

.btn {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #001eff; /* Button background color on hover */
}

.fordoctorbody {
    background-color: rgba(199, 230, 244, 0.57); /* Semi-transparent background color */
    width: 2000px;
    color: #121212; /* Text color */
    padding: 50px;
}

.fordoctorbody h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.fordoctorbody p {
    font-size: 1.2rem;
    line-height: 1.5;
}
.container {
display:flex;
}


.fordoctorbody2 {
    background-color: rgba(199, 230, 244, 0.57); /* Semi-transparent background color */
    color: #121212; /* Text color */
    padding: 100px;
}

.fordoctorbody2 h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.fordoctorbody2 p {
    font-size: 1.2rem;
    line-height: 1.5;
}
