/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-photo/pastel-blue-vignette-concrete-textured-background_53876-102637.jpg?w=740&t=st=1710340964~exp=1710341564~hmac=003f94e5cf39802fc31c8a8f6a603c307f4458398eb4b817caf2f76dfeb3336d'); /* Provide the correct path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Header styles */
.header {
    background-color:white;
    color:black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    text-decoration: none;
    color:black;
    font-size: 24px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color:black;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ffc107;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff; /* Example button background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

/* Home section styles */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.image img {
    width: 400px; /* Adjust image width as needed */
    height: auto;
}

.content {
    margin-left: 50px;
    max-width: 500px;
}

.content h3 {
    font-size: 28px;
    color: #333;
    line-height:2.5;
}

.content p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    word-spacing:5px;
    line-height:1.5;
}

/* Add any additional styles you want for other elements */
